<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='browse_tenants.css') }}">
    <title>Browse Tenants</title>
</head>
<body>
    <div class="container">
        <h1>Browse Tenants</h1>
        <table>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Check-in Date</th>
                <th>Check-out Date</th>
                <th>Apartment Number</th>
            </tr>
            {% for tenant in tenants %}
            <tr>
                <td>{{ tenant.id }}</td>
                <td>{{ tenant.name }}</td>
                <td>{{ tenant.phone_number }}</td>
                <td>{{ tenant.check_in_date }}</td>
                <td>{{ tenant.check_out_date }}</td>
                <td>{{ tenant.apartment_number }}</td>
                <td>
                    <a href="{{ url_for('remove_tenant', tenant_id=tenant.id) }}"><button>Remove Tenant</button></a>
                    <a href="{{ url_for('move_tenant', tenant_id=tenant.id) }}"><button>Move Tenant</button></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <a href="{{ url_for('management_dashboard') }}"><button>Go Back</button></a>
    </div>
    </body>
</html>
