<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tenant Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tenant_dashboard.css') }}">
</head>
<body>
    <div class="navbar">
        <h1>Tenant Dashboard - {{ session['email'] }}</h1>
    </div>

    <div class="dashboard-container">
        <a href="{{ url_for('submit_request') }}"><button>Submit Maintenance Request</button></a>
{#        <a href="{{ url_for('logout') }}"><button class="logout-btn">Logout</button></a>#}
    </div>
</body>
</html>


